#group_tour_page {
    #group_tour_working_process {
        .working_process {
            @apply flex flex-row gap-5 pt-16 mt-1 pb-14;
            border: 3px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to right, rgba(167, 167, 167, 0.05), rgb(50, 26, 8, 1), rgba(167, 167, 167, 0.05));
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }

        .working_process_item {
            @apply relative z-50;
            @apply rounded-sgt-10 flex-1 pt-12 pb-4 px-6 flex flex-col gap-2 justify-between items-center bg-sgt-neutral-5 text-center;
            @apply text-sub-1 text-sgt-neutral-1;
            @apply transition-all duration-300;

            &:before {
                content: '';
                @apply h-7 w-7 bg-sgt-neutral-5;
                @apply absolute -z-10 bottom-0 translate-y-1/2 rotate-45;
                @apply transition-all duration-300;
                @apply max-sm:content-none;
            }

            &:after {
                content: '';
                @apply h-0 w-7 border border-dashed border-sgt-neutral-5 rotate-90;
                @apply absolute -z-10 -bottom-9 translate-y-1/2;
                @apply max-sm:content-none;

            }

            &:hover {
                @apply bg-sgt-primary-4 shadow-sgt-black-5 cursor-pointer;

                &:before {
                    @apply bg-sgt-primary-4;
                    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }

                &:after {
                    @apply border-2 border-sgt-primary-4;
                }

                .working_process_item_circle {

                    @apply shadow-sgt-black-5;
                }
            }
        }

        .working_process_item_ordinal_number {
            width: 4.375rem;
            height: 4.375rem;
            @apply rounded-full bg-sgt-primary-2 bg-opacity-30;
            @apply flex justify-center items-center;
            @apply absolute top-0 -translate-y-1/2;

            >div {
                @apply w-14 h-14 rounded-full bg-sgt-primary-2 flex flex-row justify-center items-center text-h3 text-sgt-secondary-1;
            }
        }

        .working_process_item_circle {
            width: 0.9375rem;
            height: 0.9375rem;
            @apply rounded-full bg-gradient-to-t from-sgt-primary-4 to-sgt-primary-2;
            @apply absolute z-10 -bottom-14 translate-y-1/2;
            @apply transition-all duration-300;
            @apply max-sm:w-0 max-sm:h-0;
        }



        @media not all and (min-width: 640px) {
            .working_process {
                @apply border-none pt-11 pb-0;
                @apply grid grid-cols-12 gap-y-11;
            }

            .working_process_item {
                @apply col-span-6 text-cap-1 font-semibold px-4 pt-8 pb-3 gap-4;

                &:before {
                    @apply content-none;
                }

                &:after {
                    @apply content-none;

                }

                &:nth-last-child(1) {
                    grid-column: 4 / span 6; // start from column 4th;
                }
            }

            .working_process_item_ordinal_number {
                @apply w-12 h-12;

                >div {
                    @apply w-9 h-9 text-sub-1 font-bold text-sgt-secondary-1;
                }
            }
        }
    }

    #group_tour_partner {
        .slick_carousel .slick-list {
            @apply -mx-2.5;
        }

        .slick-slide .slick_slide_multiple_row {
            &:nth-child(1) {
                @apply mb-4;
            }
        }
    }

    #group_tour_advise {
        .group_tour_advise_from {
            .form_item {
                @apply h-[3.125rem] w-full bg-sgt-neutral-5 bg-opacity-50 rounded-md relative flex flex-row justify-start items-center;
            }

            .form_icon {
                @apply bg-sgt-primary-2 ml-2.5 w-6 h-6;
            }

            .form_control {
                @apply text-sub-1 text-sgt-neutral-1 placeholder:text-sgt-neutral-1;
                background: transparent;
                border: none !important;
                box-shadow: none;

                &:hover,
                &:focus-within {
                    border: none !important;
                    box-shadow: none;
                }

                &:focus {
                    border: none !important;
                    box-shadow: none;
                }

                textarea {
                    @apply text-sub-1 text-sgt-neutral-1 placeholder:text-sgt-neutral-1;
                    @apply pt-0;
                }
            }

            .form_error {}
        }
    }
}